body{
background-image: url('/static/images/2ndpageimage.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.grid-container {
    border-radius: 17px;
    display: grid;
    grid-template-columns: 1fr 40.5% 1fr;
    grid-template-rows: 10.5% 9% 9% 9% 9% 9% 9% 9% 9% 10%;
    gap: 3px 3px;
    justify-self: center;
    width:30%;
}
  
.nickname { grid-area: 2 / 1 / 3 / 4; margin-top: 10px}
  
.nicknameinput { grid-area: 3 / 1 / 4 / 4; }
  
.usersurname { grid-area: 4 / 1 / 5 / 4; margin-top: 10px}
  
.usersurnameinput { grid-area: 5 / 1 / 6 / 4; }
  
.email { grid-area: 6 / 1 / 7 / 4; margin-top: 10px}
  
.emailinput { grid-area: 7 / 1 / 8 / 4; }
  
.password { grid-area: 8 / 1 / 9 / 4; margin-top: 10px}
  
.passwordinput { grid-area: 9 / 1 / 10 / 4; }
  
.homebutton { grid-area: 10 / 1 / 11 / 2; margin-top: 10px}
  
.continuebutton { grid-area: 10 / 3 / 11 / 4; margin-top: 6px; margin-left: 70px}
  
.title { grid-area: 1 / 1 / 2 / 4; text-align: center; }

.box{
    padding-top: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%
}

#textfield{
    border-radius: 8px;
    width: 95%;
    margin-left: 2.5%;
    margin-right:2.5%;
}