.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    grid-template-areas:
      "username-text username-text username-text"
      "username username username"
      "password-text password-text password-text"
      "password password password"
      "sakums . login-btn";
    justify-self: center;
  }
  
  .username-text { grid-area: username-text; }
  
  .username { grid-area: username; }
  
  .password-text { grid-area: password-text; }
  
  .password { grid-area: password; }
  
  .sakums { grid-area: sakums; }
  
  .login-btn { grid-area: login-btn; }
  
  
.box{
    padding-top: 14%;
    display: flex;
    align-items: center;
    justify-content: center;   
    width:30%;
}

#textfield{
    border-radius: 8px;
    width: 95%;
    margin-left: 2.5%;
    margin-right:2.5%;
}