<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jusuVizite.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jusuVisite</title>
</head>
<body>
    <div style="width: 100%; background-color: rgba(175, 18, 18, 0.966);line-height: 4rem;">
        
        <div style="display: flex;">
        <h1 style="color: white; margin-left: 2rem;">Jusu Vizite</h1>
            <div style="margin-left: auto;">
                <button class="button">Register</button>
                <button class="button">login</button>
            </div>
            
        </div>
    </div>

    <div style="margin: 2% 24%;background-color: #adb5bd;width: 50% ;border-radius: 4px; line-height: 4rem; display: flex;align-items: center;">
        <h1 style="color: rgb(32, 32, 32); margin-left: 2rem;">Jusu Vizite</h1>
        <input class="serch" style="margin-top: 1.5px; line-height: 25px; " placeholder="Search...">
        
        
        <button class="button" style="margin-top: 1.5px;">meklet</button>

        
    </div>


    <div style="background-color: #adb5bd; min-width: 50%; position: absolute;left:24%; top: 10%; max-height: 70%; min-height: 16%; border-radius: 10px; padding-top: 10px;padding-bottom: 10px; overflow: auto; margin-top: 8rem;">
        
        
        

<center>
        <div class="viziteBlock" style="margin: 2rem; border-radius: 12px; background-color: #ced4da; width: 80%; text-align: left; line-height: 5rem">
            <div style="display: flex; ">
                <h1 style="color: rgb(32, 32, 32); margin-left: 2rem; margin-top: 2px;"><span>1.</span> Jusu Vizite</h1>
                    <div style="margin-left: auto; ">
                        <button class="button">drukat</button>
                        <button class="button">edit</button>
                        <button class="button">delete</button>
                    </div>
                    
                </div>
        </div>
        
        
</center>


    </div>

</body>
</html>