<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Page1.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicina</title>
</head>
<body>
    <div style="width: 100%; background-color: rgba(175, 18, 18, 0.966);line-height: 4rem;">
        
        <div style="display: flex;">
        <h1 style="color: white; margin-left: 2rem;">Projekts "Medicina"</h1>
            <div style="margin-left: auto;">
                <a href=register ><button class="button">Register</button></a>
                <a href=register ><button class="button">login</button></a>
            </div>
            
        </div>
    </div>

    <div class="background" style="margin-bottom: auto; ">
        <div style="float: right; width: 20%; height: auto;background-color: rgb(36, 36, 36); border-radius:10px;">
            <div class="but" style="margin-left: 30px;;padding-bottom:40px;">
                <a href=pieteikties ><button class="button" style="width: 90%; margin-top: 30px;">Pieteikties</button></a>
                <a href=manasp ><button class="button" style="width: 90%;">Manas vizītes</button></a>
                <a href=mekletarstu ><button class="button" style="width: 90%;">Meklet arstu</button></a>
                <a href=stat ><button class="button" style="width: 90%;">Statistika</button></a>
            </div>
        </div>

        <div style="margin-left: 4rem; margin-top: 4rem;" >
            <h1 style="color: rgba(121, 10, 10, 0.815);">Projekta merkis</h1>
            <p style="color: white;">Mes nodrosinam vieglu arstu <br>
            stradashanas vidi un vienkarsu pacientu <br>
            pieteiksanos arsta vizitem</p>
        </div>
        
        <div style="position: absolute; color: white; bottom: 2rem; left: 2rem;">@2020 RVT DP2-2 Group Inc.
        </div>

    </div>
    

</body>
</html>