<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Page8.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicina</title>
</head>
<body>
    <div style="width: 100%; background-color: rgba(175, 18, 18, 0.966);line-height: 4rem;">
        
        <div style="display: flex;">
        <h1 style="color: white; margin-left: 2rem;">Projekts "Medicina"</h1>
            <div style="margin-left: auto;">
                <a href=register ><button class="button">Register</button></a>
                <a href=login ><button class="button">login</button></a>
            </div>
            
        </div>
    </div>
    <div id="container">
        <div id="container2">
            <h1>Slimnīcas</h1>
            <div id="contEl">
                <h3>Paula Stradiņa slimnīca</h3>
            </div>
            <div id="contEl">
                <h3>Rīgas 1. slimnīca</h3>
            </div>
            <div id="contEl">
                <h3>Rīgas 2. slimnīca</h3>
            </div>
            <div id="contEl">
                <h3>Gaiļēzara slimnīca</h3>
            </div>
            <div id="contEl">
                <h3>Bērnu slimnīca</h3>
            </div>
        </div>
    </div>
</body>
</html>