<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Page9.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistika</title>
</head>
<body>
    <div style="width: 100%; background-color: rgba(175, 18, 18, 0.966);line-height: 4rem;">
        
        <div style="display: flex;">
        <h1 style="color: white; margin-left: 2rem;">Statistika</h1>
            <div style="margin-left: auto;">
                <button class="button">Register</button>
                <button class="button">login</button>
            </div>
            
        </div>
    </div>

<center>
        <div class="viziteBlock" style="margin: 6rem; border-radius: 12px; background-color: #ced4da; width: 80%; text-align: left; line-height: 40rem">
            <div>
                <h1 style="color: rgb(32, 32, 32); margin-left: 2rem; vertical-align: bottom;"> #Statistika</h1>
                </div>
        </div>
        
</center>
</body>
</html>